.project
.classpath
.settings/
.gwt/
gwt-unitCache/
.settings/com.google.gwt.eclipse.core.prefs
war/WEB-INF/classes/
war/WEB-INF/lib/
war/WEB-INF/deploy/
war/pgu_languages/
war/WEB-INF/appengine-generated/
war/WEB-INF/appengine-web.xml

