#pgu-tag {
    background-color: whitesmoke; 
}

#pgu-start-btn {
    color: grey; 
}

#pgu-container-start-btn:hover {
    background-color: lightgrey;
}

#pgu-container-stop-btn:hover {
    background-color: lightgrey;
}

#pgu-container-login-btn:hover {
    background-color: lightgrey;
}
#pgu-facebook:hover {
    background-color: lightgrey;
}
#pgu-twitter:hover {
    background-color: lightgrey;
}
#pgu-google:hover {
    background-color: lightgrey;
}

