<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>initService</servlet-name>
    <servlet-class>com.pgu.server.rpc.InitServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gameService</servlet-name>
    <servlet-class>com.pgu.server.rpc.GameServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.pgu.server.rpc.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>playerService</servlet-name>
    <servlet-class>com.pgu.server.rpc.PlayerServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>loginGoogleServlet</servlet-name>
    <servlet-class>com.pgu.server.servlet.LoginGoogleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginFacebookServlet</servlet-name>
    <servlet-class>com.pgu.server.servlet.LoginFacebookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginTwitterServlet</servlet-name>
    <servlet-class>com.pgu.server.servlet.LoginTwitterServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>loginGoogleCallbackServlet</servlet-name>
    <servlet-class>com.pgu.server.servlet.LoginGoogleCallbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginTwitterCallbackServlet</servlet-name>
    <servlet-class>com.pgu.server.servlet.LoginTwitterCallbackServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>initService</servlet-name>
    <url-pattern>/pgu_languages/init</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gameService</servlet-name>
    <url-pattern>/pgu_languages/game</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/pgu_languages/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>playerService</servlet-name>
    <url-pattern>/pgu_languages/player</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>loginGoogleServlet</servlet-name>
    <url-pattern>/logingoogle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginFacebookServlet</servlet-name>
    <url-pattern>/loginfacebook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginTwitterServlet</servlet-name>
    <url-pattern>/logintwitter</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>loginGoogleCallbackServlet</servlet-name>
    <url-pattern>/logingooglecallback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginTwitterCallbackServlet</servlet-name>
    <url-pattern>/logintwittercallback</url-pattern>
  </servlet-mapping>
  
  <!-- filter -->
  <filter>
    <filter-name>loginfilter</filter-name>
    <filter-class>com.pgu.server.servlet.LoginFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>/pgu_languages/player</url-pattern>
  </filter-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Pgu_languages.html</welcome-file>
  </welcome-file-list>

</web-app>
