<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>com.pgu.server.rpc.InitServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gameServlet</servlet-name>
    <servlet-class>com.pgu.server.rpc.GameServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.pgu.server.rpc.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginGoogleServlet</servlet-name>
    <servlet-class>com.pgu.server.servlet.LoginGoogleServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>initServlet</servlet-name>
    <url-pattern>/pgu_languages/init</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gameServlet</servlet-name>
    <url-pattern>/pgu_languages/game</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/pgu_languages/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginGoogleServlet</servlet-name>
    <url-pattern>/logingoogle</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Pgu_languages.html</welcome-file>
  </welcome-file-list>

</web-app>
